{# 
  Service Card Component
  
  Expected variables:
  - service (object with name, description, icon, url)
#}

<div class="service-card">
  {% if service.icon %}
  <div class="service-icon">
    {% include "svg/" + service.icon + ".njk" %}
  </div>
  {% endif %}
  
  <div class="service-content">
    <h3 class="service-name">{{ service.name }}</h3>
    <p class="service-description">{{ service.description }}</p>
    
    {% if service.url %}
    <a href="{{ service.url }}" class="btn-link">
      Learn More
    </a>
    {% endif %}
  </div>
</div>